.p{
    font-family: 'poppins', sans-serif;
    height: 100vh;
    background-color: #111;
}

.p-title{
    text-align: center;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
}

.p-wrapper{
    overflow: hidden;
    padding-left: 2vw;
    padding-right: 2vw;

}

.p-car{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition-delay: 1s;
}
 
.p-car-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 30vw;
    width: 30vw;
    height: 75vh;
    color:white;
}

.p-car-inner{
    height: 70vh;
    background-color: #222;
    border: #fff solid 1px;
}

.p-car-wrap{
    padding-right: 3vw;
}

.p-car-img-wrap{
  width: full;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vw;
}

.p-car-img{
    display: block;
    max-width: 20vw;
    max-height: 20vw;
    width: auto;
    height: auto;
}

.p-car-tech{
  margin-left: 2rem;
  margin-right: 2rem;
}

.p-nav{
    padding-top: 2vh;
}

.p-nav button{
    border-radius: 1vh;
    background-color: #111;
}

.p-nav button:hover{
    background-color: #222;
}

.p-next{
    float: right;
}

.p-prev{
    float: left;   
}
@media screen and (max-width: 600px){

    .p-title{
        padding-top: 5vh;    
    }

    .p-car-wrap{
        width: 80vw;
    }
    .p-car-item{
        width: 80vw;
    }

    .p-car-img{
        width: 60vw;
        height: 60vw;
    }

    .p-car-wrap{
        padding-left: 9vw;
    }
}
